/* Estilo para o contêiner principal */
.main-content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 3vw;
    padding: 1vh 2vw;
    background-color: #fff;
    margin-top: -2%;
}

.status-freezer, .details-section {
    width: 100%;
}

/* Estilos para cabeçalho e barra de navegação */
header {
    display: flex;
    justify-content: center; /* Centraliza todos os itens no centro horizontalmente */
    align-items: center; /* Centraliza todos os itens no centro verticalmente */
    padding: 1vh 2vw;
    background-color: #f1f1f1;
    border-bottom: 0.1vh solid #DDD;
    border-radius: 1vh;
    top: 0;
    z-index: 10;
    box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
    margin-left: 3vw;
    gap: 2vw; /* Espaçamento entre os elementos dentro do header */
}

.navbar {
    display: flex;
    gap: 2vw;
    margin-left: auto;
}

.navbar a {
    text-decoration: none;
    color: #007BFF;
    font-weight: 700;
    padding: 0.5vh 1vw;
    border-radius: 0.5vh;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #e0e0e0;
}

header > div:last-child {
    display: flex;
    gap: 1vw;
    align-items: center;
}

/* Estilos para o status dos freezers */
.status-freezer {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    margin: 2vh 0;
}

/* Estilo modernizado e responsivo para a div externa */
.status-freezer-outer {
    height: 30vh; /* Altura como 30% da altura da tela */
    overflow: hidden; /* Garante que o scroll só ocorra na div interna */
    border-radius: 1.5vh; /* Bordas arredondadas proporcionais */
    padding: 2vh; /* Espaçamento interno proporcional à altura da tela */
    box-sizing: border-box;
    background-color: #f9f9fb; /* Cor de fundo clara */
    box-shadow: 0 0.4vh 1vh rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidade */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 2vh 0; /* Espaçamento superior e inferior */
    transition: all 0.3s ease; /* Transição suave para o efeito de hover */
    flex: 1;
    max-width: 85%;
}

.status-freezer-outer:hover {
    box-shadow: 0 0.8vh 1.5vh rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada ao passar o mouse */
    transform: translateY(-0.5vh); /* Eleva levemente a div */
}

.status-freezer-inner {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw; /* Espaço entre os freezer-cards */
    justify-content: flex-start; /* Alinha os cards à esquerda */
}

.freezer-card {
    flex: 1 1 calc(33.33% - 1vw); /* Cada card ocupa 33.33% da largura */
    max-width: calc(33.33% - 1vw); /* Define uma largura máxima para manter o layout */
    box-sizing: border-box;
    padding: 1.5vh;
    background-color: #e0e0e0;
    border-radius: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
    border: 2px solid transparent;
}

.freezer-card.active {
    border-color: rgba(0, 128, 255, 0.8);
    animation: borderPulse 2s infinite;
}

@keyframes borderPulse {
    0%, 100% {
        border-color: rgba(0, 128, 255, 0.8);
    }
    50% {
        border-color: rgba(0, 128, 255, 0.4);
    }
}

.freezer-card > div {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.freezer-card .status-indicator {
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
}

.status-indicator.green { background-color: #4CAF50; }
.status-indicator.yellow { background-color: #FFEB3B; }
.status-indicator.red { background-color: #F44336; }
.status-indicator.gray { background-color: #9E9E9E; }

.freezer-card .temperature {
    padding: 1vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    font-weight: 700;
}

.temperature b {
    margin-top: 1.5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/* Estilos para a seção de detalhes */
.details-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.5vh 1.5vh rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border-radius: 0.8vh;
    overflow: hidden;
}

.details-header {
    background-color: #1F82B2;
    color: #FFF;
    padding: 1vh;
    border-radius: 0.8vh 0.8vh 0 0;
    font-weight: 700;
    text-align: center;
    flex-shrink: 0;
}

.details-content p {
    font-size: 1.8vh;
    color: #555;
    text-align: center;
    font-weight: 500;
    padding: 1vh 2vh;
    background-color: #f1f9ff;
    border: 0.1vh solid #d1e9ff;
    border-radius: 0.5vh;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.6vh;
}

.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-container {
    overflow-y: auto;
    max-height: 30vh;
}

.table thead th {
    background-color: #1F82B2;
    color: #FFF;
    font-weight: 600;
    padding: 1.2vh;
}

.table th, .table td {
    padding: 1.2vh;
    text-align: center;
    vertical-align: middle;
    border-bottom: 0.1vh solid #ddd;
}

.table tbody {
    display: block;
    max-height: 30vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    scroll-snap-align: start;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

/* Estilos do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content h2 {
    font-size: 2.4vh;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.modal-content label {
    font-weight: 500;
    color: #555;
    margin-top: 1vh;
}

.modal-content input[type="date"],
.modal-content select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 1.5vh;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

.modal-content input[type="date"]:focus,
.modal-content select:focus {
    border-color: #007bff;
}

.download-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5vh;
}

.download-options label {
    text-align: center;
    width: 100%;
    margin-bottom: 2%;
}

.download-options .btn-container {
    display: flex;
    gap: 1.5vw;
    margin-top: 10px;
}

.download-options .btn {
    padding: 0.7em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.download-options .btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.close {
    color: #AAA;
    float: right;
    font-size: 3vh;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#reportModal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.4s ease;
}

#reportModal.show {
    opacity: 1;
}

.modal-content {
    background-color: #ffffff;
    margin: 1% auto;
    padding: 2vh 4vw;
    border-radius: 12px;
    max-width: 600px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    animation: modalOpen 0.4s ease;
}

.modal-content p {
    font-weight: bold;
    margin-top: 1.5vh;
    font-size: 0.9em;
}

.modal-content .close {
    color: #999;
    font-size: 2.5vh;
    font-weight: bold;
    float: right;
    cursor: pointer;
    transition: color 0.3s;
}

.modal-content .close:hover {
    color: #333;
}

.modal-content #selectAll {
    margin-right: 5px;
}

@keyframes modalOpen {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#freezerSelect {
    width: 100%;
    box-sizing: border-box;
    height: 15vh;
    border: 0.1vh solid #ccc;
    border-radius: 0.5vh;
    padding: 1vh;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#freezerSelect:focus {
    border-color: #007BFF;
    box-shadow: 0 0.5vh 1vh rgba(0, 123, 255, 0.5);
}

#freezerSelect option {
    padding: 1vh;
    font-size: small;
    color: #333;
}

#freezerSelect::-webkit-scrollbar {
    width: 0.8vh;
}

#freezerSelect::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#freezerSelect::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5vh;
}

#freezerSelect::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#freezerSelect option:checked {
    background-color: #007BFF;
    color: #fff;
}

/* Ajuste de responsividade */
@media (max-width: 768px) {
    .vertical-footer {
        display: none;
    }

    .container {
        width: 100%;
        height: auto;
        padding: 1vh;
    }

    header {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        padding: 1vh;
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        gap: 1vh;
        margin-left: 0;
        width: 100%;
        justify-content: center;
    }

    .navbar a {
        padding: 1vh 2vw;
        width: 100%;
        text-align: center;
    }

    header > div:last-child {
        flex-direction: column;
        align-items: center;
        gap: 0.5vh;
        margin-top: 1vh;
    }

    .section, .section2 {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        width: 100%;
        height: auto;
    }

    .box, .grid {
        width: 100%;
        margin-bottom: 2vh;
    }
}

.form-group {
    flex-direction: column;
    align-items: stretch;
}

.form-group label {
    width: 100%;
    margin-bottom: 0.5vh;
}

.form-group input[type="text"] {
    width: 100%;
}

.box button, .grid button {
    width: 100%;
    text-align: center;
}

.message {
    font-size: 1.4vh;
    margin-top: 1vh;
}

.status-freezer {
    flex-direction: column;
    align-items: center;
}

.freezer-card:hover {
box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2);
transform: translateY(-0.3vh);
transition: all 0.3s ease;
}

.top-section {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Alinha verticalmente os elementos ao centro */
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}


.content-wrapper {
    display: flex;
    width: 100%;
    gap: 2vw; /* Espaçamento entre os elementos */
    justify-content: center;
    align-items: center;
}

.alert-box {
    width: 22vh;
    height: 22vh;
    background: linear-gradient(145deg, #f0f0f0, #c0c0c0);
    border-radius: 50%;
    box-shadow: 0 0.8vh 2vh rgba(0, 0, 0, 0.2);
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: auto;
}

.alert-box:hover {
    transform: scale(1.05);
    box-shadow: 0 1.2vh 2.5vh rgba(0, 0, 0, 0.3);
}

.inner-circle {
    width: 81%;
    height: 81%;
    background: radial-gradient(circle, #ffebee, #f8d7da);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0.6vh 1.2vh rgba(0, 0, 0, 0.3);
}

.alert-box span {
    font-size: 1.8vh;
    color: #333;
    font-weight: bold;
    margin-bottom: 1vh;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1vh;
}

.score {
    font-size: 6vh;
    font-weight: bold;
    text-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.3);
}

#notificationPopup {
    width: 250px; /* Aumenta a largura do popup */
    max-height: 300px; /* Define uma altura máxima */
    overflow-y: auto; /* Adiciona o scroll interno */
    text-align: left;
    font-size: 14px;
    color: #333;
    background-color: #fff; /* Fundo branco para contraste */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 1px solid #ddd;
}

#notificationPopup p {
    margin: 0;
    padding: 8px 10px;
    font-size: 0.9em;
    border-bottom: 1px solid #f1f1f1; /* Linha para separar as mensagens */
    line-height: 1.5;
}

/* Estilo para o ícone de notificação */
#notificationIcon svg {
    font-size: 18px;
    color: #333;
}

/* Cor ao passar o mouse sobre o ícone */
#notificationIcon svg:hover {
    color: #007bff;
}

#notificationIcon {
    position: relative;
    animation: shake 0.5s ease-in-out infinite; /* Efeito de tremor */
}

.notification-badge {
    position: absolute;
    top: -5px; /* Mantém a bolinha um pouco acima do ícone */
    right: -75%; /* Afasta a bolinha mais para o lado */
    background-color: red;
    color: white;
    font-size: 0.8em;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
    display: none; /* Inicialmente oculto */
    margin-right: 0%;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-2px); }
    40%, 80% { transform: translateX(2px); }
}

/* Exibir o contador quando houver notificações */
.has-notifications #notificationCount {
    display: inline;
}

/* Remove a borda inferior da última mensagem */
#notificationPopup p:last-child {
    border-bottom: none;
}

/* Estilo para a barra de rolagem personalizada */
#notificationPopup::-webkit-scrollbar {
    width: 6px;
}

#notificationPopup::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#notificationPopup::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}

#notificationPopup::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}

.filter-sort-container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 2vh;
    margin-bottom: -2vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 85%;
    margin-left: 1vh;
}

.filter-sort-container select{

    border-radius: 20px;

}
.filter-sort-container select:hover {
    border-color: #888;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15); /* Sombra ao passar o mouse */
}

.filter-sort-container select:focus {
    border-color: #5b9bd5;
    box-shadow: 0px 0px 0px 3px rgba(91, 155, 213, 0.3); /* Sombra de foco */
}

.filter-sort-container select::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}