.section, .search-section, .header {
    display: flex;
    justify-content: space-between;
    width: 50%;
    box-sizing: border-box;
}

.search-box, .search-grid, .register-section, .box, .alterar {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    border-radius: 20px;
}

.section { 
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
    margin: 0 auto;
    height: auto;
    margin-left: 12%;
}

.box , .box-procura{
    border: 2px solid #000;
    background-color: #F2F2F2;
    padding: 10px;
    width: 35%;
    box-sizing: border-box;
    border-radius: 20px;
    height: 230px; /* Define uma altura fixa */
}

.box h3, .box-procura h3 {
    border: 0.5px solid #000;
    margin-top: 1px;
    margin-bottom: 2%;
    background-color: #1F82B2;
    color: white;
    padding: 4px;
    text-align: center;
    border-radius: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.box label, .box .form-group label, .box-procura label, .box-procura .form-group label{
    font-weight: bold;
    width: 4em; /* Defina uma largura fixa para os labels */
    margin-right: 1%;
}

.box .form-group, .box-procura .form-group{
    display: flex;
    align-items: center;
    margin-right: 2%; 
}

.box .form-group input[type="text"], .box .form-group input[type="email"], .box-procura .form-group input[type="text"], .box-procura .form-group input[type="email"] {
    width: 90%;
    padding: 6px;
    border-radius: 10px;
    box-sizing: border-box;
    min-width: 0;
    border: 1px solid #ccc;
}

.box button {
    display: block;
    width: 30%;
    padding: 10px;
    background-color: #6F7276;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 5%;
}

.box button:hover, .alterar button:hover, .box-procura button:hover {
    background-color: #5a6268;
}

.alterar {
    width: 80%;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
    margin: 0 auto;
    height: auto;
    border: 2px solid #000;
    margin-left: 12%;
}

.alterar h3 {
    border: 0.5px solid #000;
    margin-top: 1px;
    margin-bottom: 2%;
    background-color: #1F82B2;
    color: white;
    padding: 4px;
    text-align: center;
    border-radius: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.alterar label{
    text-align: right;
    margin-right: 1%;
}

.alterar .form-group{
    display: flex;
    align-items: center;
    margin-right: 5%; 
    margin-bottom: 1%;
    margin-top: 1%;
}

.alterar .form-group input {
    width: 90%;
    padding: 6px;
    border-radius: 10px;
    box-sizing: border-box;
    min-width: 0;
    border: 1px solid #ccc;
}

.alterar label, .alterar .form-group label{
    font-weight: bold;
    width: 10em; /* Defina uma largura fixa para os labels */
}

.alterar button{
    display: block;
    width: 30%;
    padding: 10px;
    background-color: #6F7276;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 0.5%;
}

.gridUsuario {
    width: 60%; /* Largura definida */
    height: 99%;
    border: 2px solid #000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message {
    font-size: 12px;
    text-align: center;
    color: grey;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}

.bold-label {
    font-weight: bold;
}

.tremor {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.grid {
    border: 2px solid #000;
    background-color: #f9f9f9;
    width: 750px;
    height: 230px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 20px;
}

.scroll-container {
    flex: 1; /* Ocupa o espaço restante disponível */
    width: 100%;
    max-height: 100%; /* Garante que a altura não ultrapasse a altura do grid */
    overflow-y: auto; /* Exibe a barra de rolagem vertical quando necessário */
    overflow-x: hidden; /* Evita a barra de rolagem horizontal, se não for necessária */
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: Arial, sans-serif;
    font-size: smaller;
    background-color: #FFFFFF;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background-color: #1F82B2;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

tr:hover {
    background-color: #f5f5f5;
}

.col-nome {
    width: 75px;
}

.col-e-mail {
    width: 100px;
}

.col-data-criacao{
    width: 50px;
}

.col-ativo{
    width: 25px;
}

.col-gerente{
    width: 25px;
}

.box-procura button {
    width: 30%;
    padding: 10px;
    background-color: #6F7276;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 3%;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-left: 5.5%;
    margin-top: 2%;
}
